<div class="MinWidth copyright">
    <p>版权所有 &copy; {$name}</p>
    <p>技术支持：iSun's Blog</p>
</div>
<footer id="box_footerBody" style="bottom: -1px;">
    <div class="columnSpace" id="elem-Toolbar_show01-001" name="下方工具条">
        <div id="Toolbar_show01-001" class="Toolbar_show01-d1_c1">
            <ul id="uldiv" class="footerWrap">
                <li class="z3g-column5">
                    <a alt="" href="tel:{$tel}" id="mobile" class="active">
                        <span class="icon tel">
                        </span>
                        <span class="text">电话</span>
                    </a>
                </li>
                <li class="z3g-column5">
                    <a alt="" href="sms:{$tel}" id="mobile" class="active">
                        <span class="icon email">
                        </span>
                        <span class="text">短信</span>
                    </a>
                </li>
                <li class="z3g-column5">
                    <a alt="" id="map" href="p_map.action?company.id=239&amp;tel=&amp;cid=&amp;type=mp.weixin.qq.com"
                    class="active">
                        <span class="icon map">
                        </span>
                        <span class="text">地图</span>
                    </a>
                </li>
                <li class="z3g-column5">
                    <a alt="" id="share" href="javascript:submitName1();" class="active">
                        <span class="icon share">
                        </span>
                        <span class="text">分享</span>
                    </a>
                </li>
                <li class="z3g-column5">
                    <a alt="" id="message" href="/Mobile/message.html?bid={$bid}" class="active">
                        <span class="icon msg">
                        </span>
                        <span class="text">留言</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>