<include file="Public/header" />
<div class="widget widget-table">
    <div class="widget-header">
        <if condition="$count neq 0">
        <h3><span class="current">未读留言</span></h3>
        <h3><span>全部留言</span></h3>
        </if>
        <if condition="$count neq 1">
        <h3>全部留言</h3>
        </if>
    </div>
    <div class="widget-content">
        <!--未读消息-->
        <if condition="$count neq 0">
        <div class="contents">
            <form action="/Admin/Message/Delall" method="post">
                <table class="table table-striped table-bordered table-set table-border">
                    <tbody>
                    <tr>
                        <th width="2%"></th>
                        <th width="5%">编号</th>
                        <th width="10%">姓名</th>
                        <th width="10%">电话</th>
                        <th width="10%">QQ</th>
                        <th width="50%">留言内容</th>
                        <th>操作</th>
                    </tr>
                    <volist name="list" id="val">
                        <if condition="$val['audit'] eq 1">
                        <tr>
                            <td><input name="id[]" id="id[]" type="checkbox" value="{$val.id}"></td>
                            <td>{$val.id}</td>
                            <td>{$val.username}</td>
                            <td>{$val.tel}</td>
                            <td>{$val.qq}</td>
                            <td title="{$val.content}">{$val.content|mb_strcut=0,100,'utf-8'}</td>
                            <td><a href="/Admin/Message/Show/id/{$val.id}">[查看详细]</a></td>
                        </tr>
                        </if>
                    </volist>
                    <tr>
                        <td colspan="7">
                            <div class="delete">
                                <input type="submit" class="btn" value="删除" onclick="return confirm('确定要删除吗?')">
                            </div>
                            <div class="page">
                                {$page}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        </if>
        <!--未读消息-->
        <!--全部留言-->
        <div class="contents <if condition='$count neq 0'>hide</if>">
            <form action="/Admin/Message/Delall" method="post">
                <table class="table table-striped table-bordered table-set table-border">
                    <tbody>
                    <tr>
                        <th width="2%"></th>
                        <th width="5%">编号</th>
                        <th width="10%">姓名</th>
                        <th width="10%">电话</th>
                        <th width="10%">QQ</th>
                        <th width="50%">留言内容</th>
                        <th>操作</th>
                    </tr>
                    <volist name="list1" id="val">
                        <if condition="$val['audit'] eq 0">
                            <tr>
                                <td><input name="id[]" id="id[]" type="checkbox" value="{$val.id}"></td>
                                <td>{$val.id}</td>
                                <td>{$val.username}</td>
                                <td>{$val.tel}</td>
                                <td>{$val.qq}</td>
                                <td title="{$val.content}">{$val.content|mb_strcut=0,100,'utf-8'}</td>
                                <td><a href="/Admin/Message/Show/id/{$val.id}">[查看详细]</a></td>
                            </tr>
                        </if>
                    </volist>
                    <tr>
                        <td colspan="7">
                            <div class="delete">
                                <input type="submit" class="btn" value="删除" onclick="return confirm('确定要删除吗?')">
                            </div>
                            <div class="page">
                                {$pager}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!--全部留言-->
    </div>
</div>
<include file="Public/footer" />