<include file="Public/header" />
<div class="widget widget-table">
    <div class="widget-header">
        <h3>添加商品</h3>
    </div>
    <div class="widget-content">
        <!--添加商品-->
        <div class="contents">
            <form action="/Admin/Pro/insert" method="post">
                <table class="table table-striped table-bordered table-set">
                    <tbody>
                        <tr>
                            <th width="8%">商品名字</th>
                            <td><input type="text" name="proname" id="proname"></td>
                        </tr>
                        <tr>
                            <th>市场价</th>
                            <td><input type="text" name="price" id="price"></td>
                        </tr>
                        <tr>
                            <th>会员价</th>
                            <td><input type="text" name="pricing" id="pricing"></td>
                        </tr>
                        <tr>
                            <th>商品图片</th>
                            <td>
                                <div class="controls">
                                    <a style="float:right" id="upload"></a>
                                    <pre id="progress"></pre>
                                    <ul class="imagelist" id="image_result"></ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>商品分类</th>
                            <td>
                                <select name="catid">
                                    <option value="1">新品上市</option>
                                    <option value="2">促销专区</option>
                                    <option value="3">精品推荐</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>商品介绍</th>
                            <td><textarea name="contents" style="height:100px;"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn">添加</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!--添加商品-->
    </div>
</div>
<include file="Public/footer" />